
.form-control{
    border:1px solid #b3a1a1 !important;
    padding: 10px 10px;
    margin: 10px 0px;
}

.form-select{
    border:1px solid #b3a1a1 !important;
    padding: 8px 10px;
    margin-bottom: 10px;
}
